/* * {
 border: 2px solid gray;
} */

.counterWrapper {
  width: 300px;
  border: 1px solid gray;
  padding: 20px 0 50px;
}

.heading {
  color: #333;
  text-align: center;
}

.currentCount {
  text-align: center;
}

.button.Wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.button, .resetButton {
  padding: 5px 10px;
  border: none;
  background: #999;
  border-radius: 5px;
  color: white;
}